    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="https://icones.pro/wp-content/uploads/2021/04/icone-robot-android-jaune.png" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>Sign Up</h1>
            </div>
            <form class="login-card-form" action="/signUp" method="post">

                <div class="form-item">
                    <span class="material-symbols-outlined form-item-icon">image</span>
                    <input type="file" placeholder="Enter Image" id="avatar" name="avatar"
                     required>
                </div>
                <div class="form-item">
                    <span class="material-symbols-outlined form-item-icon">mail</span>
                    <input type="email" placeholder="Enter Email" id="email" name="email" 
                    required>
                </div>
                <div class="form-item">
                    <span class="material-symbols-outlined form-item-icon">person</span>
                    <input type="text" placeholder="Enter Name" id="name" name="name"
                     required>
                </div>
                <div class="form-item">
                    <span class="material-symbols-outlined form-item-icon">lock</span>
                    <input type="password" placeholder="Enter Password" id="pass" name="pass"
                     required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>